@font-face {
  font-family: "NaughtyMonster";
  src: url(/assets/font/NaughtyMonster.otf);
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url(/assets/font/Proxima\ Nova\ Black.otf);
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/assets/font/Proxima\ Nova\ Bold.otf);
}

@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url(/assets/font/Proxima\ Nova\ Extrabold.otf);
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url(/assets/font/Proxima\ Nova\ Thin.otf);
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url(/assets/font/ProximaNova-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/img/svg/Artboard1.svg);
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  font-family: "NaughtyMonster";
  color: #272929;
  font-size: 3rem;
  margin-bottom: 5px;
}

.textos-header h1 span {
  font-size: 5rem;
}

h2 {
  font-family: "ProximaNova-Regular";
}

p {
  font-family: "Proxima Nova Thin";
}

.contact p span,
label {
  font-family: Proxima Nova Extrabold;
}

a {
  text-decoration: none;
  font-family: "ProximaNova-Regular";
  color: rgb(66, 66, 66);
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor1 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

/* HEADER */
header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}

nav {
  width: 100%;
  height: 80px;
  /* transition: ease-in-out 0.5s; */
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgb(200, 255, 0);
}

.nav {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.nav .logo {
  height: 80px;
}

.nav .logo img {
  height: 60%;
}

.nav .enlaces-header {
  display: flex;
}

.nav .enlaces-header a {
  margin-left: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #CCD1D1;
}

.nav .enlaces-header a:hover {
  color: #fff;
  background-color: #eeb10b;
  font-family: "Proxima Nova Bold";
}

.nav .social-media {
  display: flex;
  width: 60px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.nav .social-media>i {
  font-size: 30px;
}

.hamburger {
  width: 80px;
  height: 80px;
  background-color: #CCD1D1;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  display: none;
  /* transition: color 0.5s ease-in; */
}

.hamburger>i {
  font-size: 25px;
  line-height: 80px;
}

.contenido-header {
  display: flex;
  width: 100%;
  height: 600px;
  align-items: center;
}

.contenido-header .textos-header p {
  margin-bottom: 30px;
}

.contenido-header .textos-header h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contenido-header .textos-header .btn-install {
  display: inline-block;
  text-align: center;
  width: 50%;
  padding: 10px 0;
  font-size: xx-large;
  margin-left: 30%;
  margin-bottom: 50px;
  border-radius: 50px;
  border: 2px solid #ee9e0b;
  color: #ee9e0b;
  background-color: dimgray;
  cursor: pointer;
}

.contenido-header .textos-header .btn-install:hover {
  background-color: #ee9e0b;
  color: #fff;
}

.contenido-header .textos-header input {
  background-color: lightgray;
  text-align: center;
  font-size: large;
  padding: 15px 80px;
  border-radius: 50px;
  border: transparent;
}

.contenido-header .textos-header input:focus {
  border: solid yellow;
}

.contenido-header .textos-header .subscribe {
  background-color: rgb(241, 228, 44);
  text-align: center;
  font-size: large;
  padding: 15px 40px;
  border-radius: 50px;
}

.contenido-header .textos-header .subscribe:hover {
  background-color: #ee9e0b;
  color: #fff;
}

.contenido-header .img-header {
  display: flex;
  flex-direction: column;
}

.contenido-header .img-header>img {
  width: 450px;
}

.contenido-header .store {
  display: flex;
  justify-content: space-between;
}

.contenido-header .store>img {
  width: 200px;
}